body {
  background-color: rgb(125 211 252);
  margin: 0;
}

.page-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.circles {
  margin: 25px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(6, 70px);
  gap: 5px;
  box-sizing: border-box;
}

.circle {
  border-radius: 60px;
  height: 60px;
  width: 60px;
  background: white;
  border: 5px solid #444444;
  cursor: pointer;
}
.buttons-row {
  display: flex;
  justify-content: center;
}

.toggleCheatMode {
  background-color: #f44336;
  font-size: 25px;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.toggleCheatMode:hover {
  background-color: #f44336;
  color: white;
}

.startGame {
  background-color: #4caf50;
  font-size: 25px;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.startGame:hover {
  background-color: #4caf50;
  color: white;
}

#displayText {
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding: 0 50px 0 50px;
  background-color: white;
  border-radius: 15px;
}
